a {
	color: #ff5562;
}

blockquote {
	border-color: #ff5562;
}

mark {
	background-color: #ff5562;
}

.logo:hover {
	color: #ff5562;
}

.main-nav__btn {
	fill: #ff5562;
}

.toc {
	color: #ff5562;
}

.share__icon {
	fill: #ff5562;
	stroke: #ff5562;
}

.header{
     display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

}
nav.main-nav a {
  top: 8px;
  right: 6px;
  padding: 8px 12px;
  color: #ff5562;
  font-size: 13px;
  line-height: 1.35;
  border-radius: 3px;
}
nav.main-nav a:hover {
  color: #ff5590;
}

nav.main-nav a.button {
  background: #ff5562;
  color: #fff;
  margin-left: 12px;
}
@media (max-width: 700px) {
  nav.main-nav {
    padding: 20px 10px 0 0;
    margin: 0 auto;
    text-align: right;
    z-index: 100;
  }
  nav.main-nav a {
    top: 8px;
    right: 6px;
    padding: 8px 8px;
    color: #ff5590;
    font-size: 13px;
    line-height: 1.35;
    border-radius: 3px;
  }
}
