a {
	color: #9ccc6c;
}

blockquote {
	border-color: #9ccc6c;
}

mark {
	background-color: #9ccc6c;
}

.logo:hover {
	color: #9ccc6c;
}

.main-nav__btn {
	fill: #9ccc6c;
}

.toc {
	color: #9ccc6c;
}

.share__icon {
	fill: #9ccc6c;
	stroke: #9ccc6c;
}

nav.main-nav a {
  top: 8px;
  right: 6px;
  padding: 8px 12px;
  color: #5badf0;
  font-size: 13px;
  line-height: 1.35;
  border-radius: 3px;
}
nav.main-nav a:hover {
  color: #0366d6;
}

nav.main-nav a.button {
  background: #5badf0;
  color: #fff;
  margin-left: 12px;
}
@media (max-width: 700px) {
  nav.main-nav {
    padding: 20px 10px 0 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    text-align: right;
    z-index: 100;
  }
  nav.main-nav a {
    top: 8px;
    right: 6px;
    padding: 8px 8px;
    color: #5badf0;
    font-size: 13px;
    line-height: 1.35;
    border-radius: 3px;
  }
}
